<div class="container">
  <div class="row">
    <div class="col-md-8 pt-5 offset-md-2 border-left border-right">
      <h4 class="border-bottom"><%= @post.customer.name %>さんのレビュー</h4>
      <div class="row">
        <div class="col-md-2 mt-2">
          <%= link_to customer_path(@customer.id) do %>
          <%= image_tag @post.customer.get_profile_image, class: "rounded-circle", size: '80x80' %>
          <% end %>
        </div>
        <div class="col-md-10 mt-2">
          <h5 class="text-primary"><%= @post.review_title %></h5>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 offset-md-2 d-inline-flex" >
          <div id="rate-<%= @post.id %>" class="form-group"></div><%= @post.rate %>点
          <script>
          $(document).on('turbolinks:load', function() {
            $('#rate-<%= @post.id %>').empty();
            $('#rate-<%= @post.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= @post.rate %>,
            });
          });
          </script>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 offset-md-2">
          <div>
            <p class="text-muted"><%= @post.customer.name %>さん | <%= @post.watched_data.strftime('%Y年%m月%d日') %> | <%= @post.way_to_watch %></p>
          </div>
        </div>
      </div>

      <div class="row mt-3 mb-3">
        <div class="col-md-10 offset-md-2 pd-1">
          <p><%= safe_join(@post.review_body.split("\n"),tag(:br)) %></p>
        </div>
      </div>

      <div class="row pb-5">
        <div class="col-md-6 offset-md-2">
          <% if @post.favorited_by?(current_customer) %>
            <%= link_to post_favorites_path(@post), method: :delete do %>
              <i class="fas fa-thumbs-up"></i>いいね済
            <% end %>
            <span>(いいねした人<%= @post.favorites.count %>人)</span>
          <% else %>
            <%= link_to post_favorites_path(@post), method: :post do %>
              <i class="far fa-thumbs-up"></i>いいね!
            <% end %>
            <span>(いいねした人<%= @post.favorites.count %>人)</span>
          <% end %>
        </div>
        <% if @customer == current_customer %>
        <div class="col-md-3 offset-md-1 pb-3">
          <div class="float-right">
            <%= link_to edit_post_path, class: "text-success" do %>
              <i class="fas fa-edit"></i>
            <% end %>
            |
            <%= link_to post_path, method: :delete, class: "text-danger" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>