<% if customer_signed_in? %>
  <% if post.present? %>
    <% if post.is_active == true %>
      <div class="row mt-5">
        <div class="col-md-12 show-content-tag">
          <h3 class="text-center">あなたの投稿</h3>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12 mr-3 d-inline-flex">
          <%= link_to customer_path(current_customer.id) do %>
            <%= image_tag current_customer.get_profile_image, class: "rounded-circle", size:'60x60' %>
          <% end %>
          <p>
            <%= link_to post_path(post) do %>
              <%= post.review_title %>
            <% end %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-1 ">
          <div class="">
            <p class="text-muted mt-1"><%= current_customer.name %>さん | <%= post.watched_data.strftime('%Y年%m月%d日') %> | <%= post.way_to_watch_i18n %></p>
          </div>
        </div>
        <div class="col-md-4 offset-md-1 d-inline-flex">
          <div id="current-customer-rate-<%= post.id %>" class="form-group"></div><p class="mt-1 ml-1"><%= post.rate %>点</p>
          <script>
          $(document).on('turbolinks:load', function() {
            $('#current-customer-rate-<%= post.id %>').empty();
            $('#current-customer-rate-<%= post.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= post.rate %>,
            });
          });
          </script>
        </div>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col-md-12 show-review-body pd-1">
          <p><%= safe_join(post.review_body.split("\n"),tag(:br)) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>