<div class="container pb-5">
  <div class="row pt-5">
    <div class="col-md-3 side-bar">
      絞り込み機能
    </div>

    <div class="col-md-9 main-contents">
      <div class="row border-bottom">
        <div class="col-md-12 mx-atuo">
          <h2 class="text-center">公開中の映画</h2>
        </div>
      </div>
      <% @movies.each do |movie| %>
      <div class="row mt-3 pb-3 border-bottom">
        <div class="col-md-3">
          <%= link_to movie_path(movie['id']) do %>
            <%= image_tag "https://image.tmdb.org/t/p/w1280#{movie["poster_path"]}",class: "rounded", size: '200x300'%>
          <% end %>
        </div>
        <div class="col-md-9">
          <h4><%= link_to movie['title'], movie_path("#{movie['id']}") %></h4>
          <p><%= movie['release_date'] %></p>
          <p><%= movie['overview'] %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>