<table class="table table-invers border-bottom">
  <thead>
    <tr>
      <th style="width: 5%">ID</th>
      <th style="width: 25%">アカウント名</th>
      <th style="width: 25%">メールアドレス</th>
      <th style="width: 10%">投稿数</th>
      <th style="width: 10%">登録日</th>
      <th style="width: 10%">ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% customers.each do |customer| %>
    <tr>
      <td class="align-middle">
        <%= customer.id %>
      </td>
      <td class="align-middle">
        <%= link_to admin_customer_path(customer), class: "text-decoration-none" do %>
          <%= image_tag customer.get_profile_image, class: "rounded-circle", size: "70x70" %>
          <span><%= customer.name %></span>
        <% end %>
      </td>
      <td class="align-middle">
        <%= customer.email %>
      </td>
      <td class="align-middle">
        <%= customer.posts.count %>件
      </td>
      <td class="align-middle">
        <u><%= customer.created_at.strftime("%Y/%m/%d") %> </u>
      </td>
      <td class="align-middle">
        <% if customer.is_active == true %>
          <span class="text-success">有効</span>
        <% else %>
          <span class="text-danger">無効</span>
        <% end %>
        <%= link_to edit_admin_customer_path(customer), class: "text-success ml-2" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
<div class="mx-auto">
  <%= paginate customers %>
</div>
