<div class="col-md-2 offset-md-2">
  <% if customer_signed_in? %>
    <% if post.favorited_by?(current_customer) %>
      <span><%= post.favorites.count %>:</span>
      <%= link_to post_favorites_path(post), method: :delete do %>
        <i class="fas fa-thumbs-up"></i>いいね済
      <% end %>
    <% else %>
      <span><%= post.favorites.count %>:</span>
      <%= link_to post_favorites_path(post), method: :post do %>
        <i class="far fa-thumbs-up"></i>いいね!
      <% end %>
    <% end %>
  <% else %>
    <span><%= post.favorites.count %>:</span>
    <%= link_to post_favorites_path(post), method: :post do %>
      <i class="far fa-thumbs-up"></i>いいね!
    <% end %>
  <% end %>
</div>