<div class="container-fluid">
  <%= render 'layouts/flash_message' %>
  <div class="row pb-5">
    <div class="col-md-8 offset-md-2 pt-4 pb-2">
      <% if @word != nil %>
        <h3 class="text-center">"<%= @word %>"に関する投稿一覧</h3>
      <% else %>
        <h3 class="text-center">投稿一覧</h3>
      <% end %>
    </div>
    <div class="col-lg-4 offset-lg-2 col-sm-6 mb-3">
      <%= render 'admin/shared/search', link: admin_post_search_path %><%#投稿検索%>
    </div>
    <div class="col-lg-4 col-sm-6 mb-3">
      <%= render 'admin/shared/sort', link: admin_post_sort_path %><%#並び替え%>
    </div>
    <%= render 'index', posts: @posts %><%#投稿一覧%>
  </div>
</div>