<% if post_comments.present? %>
  <div class="row">
    <div class="col-md-10 offset-md-2">
      <h5 class="text-center border-bottom">コメント一覧</h5>
    </div>
  </div>
  <% post_comments.each do |post_comment| %>
    <div class="row">
      <div class="col-md-9 offset-md-2 d-inline-flex align-items-center">
        <%= link_to customer_path(post_comment.customer_id) do %>
          <%= image_tag post_comment.customer.get_profile_image, class: "rounded-circle", size: '50x50' %>
        <% end %>
        <p class="ml-2"><%= post_comment.customer.name %>さん</p>
      </div>
    </div>
    <div class="row pb-2 ml-4 pb-2">
      <div class="col-md-9 offset-md-2 pl-5">
        <p><%= safe_join(post_comment.comment.split("\n"),tag(:br)) %></p>
      </div>
    </div>
    <% if post_comment.customer == current_customer || admin_signed_in? %>
      <div class="row">
        <div class="col-md-10 offset-md-2 border-bottom pb-3 mb-3">
          <div class="float-right">
            <%= link_to post_post_comments_path(post_comment.post_id), method: :delete, class: "text-danger text-decoration-none" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
