<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 pt-5 mt-5 pb-4 border">
      <h5 class="text-center">コメントを書く</h5>
      <div class="form">
        <%= form_with model: @comment, url: post_post_comments_path, method: :post do |f| %>
          <div class="form-group text-center">
            <%= f.text_area :comment, class: "w-75", id: "commentarea", placeholder: "内容" %>
          </div>
          <script>
            $(function(){
              $('#textarea')
              .on('input', function(){
                if ($(this).outerHeight() > this.scrollHeight){
                  $(this).height(1)
                }
                while ($(this).outerHeight() < this.scrollHeight){
                  $(this).height($(this).height() + 1)
                }
              });
            });
          </script>
          <div class="form-group text-center">
            <%= f.submit "内容を公開", class: "btn btn-outline-primary text-center w-75" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 pt-5 offset-md-2">
      <div class="row">
        <div class="col-md-2 mt-2">
          <%= link_to customer_path(@post.customer_id) do %>
          <%= image_tag @post.customer.get_profile_image, class: "rounded-circle", size: '80x80' %>
          <% end %>
        </div><%#プロフィール画像%>
        <div class="col-md-10 mt-2">
          <%= link_to post_path(@post.id) do %>
            <h5 class="text-primary"><%= @post.review_title %></h5>
          <% end %>
        </div><%#レビュータイトル%>
      </div>
      <div class="row">
        <%= render 'public/posts/rate', post: @post %>
      </div><%#星の採点%>
      <div class="row">
        <div class="col-md-10 offset-md-2">
          <div>
            <p class="text-muted"><%= @post.customer.name %>さん | <%= @post.watched_data.strftime('%Y年%m月%d日') %> | <%= @post.way_to_watch %></p>
          </div>
        </div>
      </div><%#アカウント名、鑑賞日、鑑賞方法%>
      <div class="row mt-3 mb-3">
        <div class="col-md-10 offset-md-2 pd-1">
          <p><%= safe_join(@post.review_body.split("\n"),tag(:br)) %></p>
        </div>
      </div><%# レビュー内容%>
    </div>
  </div>
</div>