<div class="sign-up-bg">
  <div class="container">
    <div class="col-md-10 offset-md-2">
      <%= render 'layouts/flash_message' %>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-8 col-10 mx-auto sign-up-form">
        <h2 class="text-center">新規会員登録</h2>
        <div class="offset-md-1">
          <%= render "public/shared/error_messages", resource: resource %>
        </div>
        <%= form_with model: @customer, url: customer_registration_path, method: :post do |f| %>

          <div class="field md-auto mt-3">
            <%= f.label :email, "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="field md-auto mt-3">
            <%= f.label :name, "アカウント名" %><br/>
            <%= f.text_field :name, autocomplete: "name", class: "form-control" %>
          </div>

          <div class="field md-auto mt-3">
            <%= f.label :password, "パスワード" %><br/>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="field md-auto mt-3">
            <%= f.label :password_confirmation, "パスワード確認用" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="field mt-3">
            <%= f.label :image, "プロフィール画像" %>
            <%= f.file_field :profile_image, class: "form-control-file item_image", accept: 'image/*' %>
          </div>

          <div class="actions text-center">
            <%= f.submit "新規登録", class: "btn btn-outline-success mt-3 w-50" %>
          </div>
        <% end %>

        <div class="text-center mt-5">
          <p>既に登録がお済みの方は<%= render "public/shared/links" %></p>
        </div>

      </div>
    </div>
  </div>
</div>
