<header class="">
  <nav class="navbar navbar-expand-lg navbar-light p-3">
    <div class="container-fluid">
      <div class="col-md-3 col-12 logo text-center">
        <a class="navbar-brand" href="/">
          <%= image_tag 'logo.png' %>
        </a> <%#サイトロゴ%>
      </div>
      <div class="col-md-6 col-10 mx-auto">
        <%= form_with url: search_path, method: :get, class: "form-inline d-flex justify-content-center" do |f| %>
          <%= f.search_field :looking_for, placeholder: '映画のタイトル', class: "form-control", style: "width: 80%" %>
          <%= f.button :type => "submit", class: "btn btn-primary" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="col-md-3 colapse navbar-collapse" id="navbarNavDropdown">
        <% if admin_signed_in? %> <%#管理者ログインしている場合%>
        <div class="d-flex flex-column ml-auto">
          <ul class="navbar-nav d-flex align-items-center">
            <li class="header-icons">
              <%= link_to admin_root_path, class: "nav-link pt-3" do %>
                <%= image_tag 'reviews.png', size: "35x35" %>
              <% end %>
            </li>
            <li class="header-text text-center">
              レビュー一覧
            </li>
            <li class="header-icons">
              <%= link_to admin_customers_path, class: "nav-link pt-3" do %>
                <i class="fas fa-users fa-2x icon"></i>
              <% end %>
            </li>
            <li class="header-text text-center">
              会員一覧
            </li>
            <li class="header-icons">
              <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link pt-3" do %>
                <i class="fas fa-sign-out-alt fa-2x icon"></i>
              <% end %>
            </li>
            <li class="header-text text-center">
              ログアウト
            </li>
          </ul>
        </div>
        <% elsif customer_signed_in? %> <%#会員ログインしている場合%>
        <div class="d-flex flex-column ml-auto">
          <ul class="navbar-nav d-flex align-items-center">
            <li class="header-icons">
              <%= link_to posts_path, class: "nav-link pt-3" do %>
                <%= image_tag 'reviews.png', size: "35x35" %>
              <% end %>
            </li>
            <li class="header-text text-center">
              レビュー一覧
            </li>
            <li class="header-icons">
              <%= link_to movies_path, class: "nav-link pt-3" do %>
                <%= image_tag 'movie.png', size: "35x35" %>
              <% end %>
            </li>
            <li class="header-text text-center">
              映画一覧
            </li>
            <li class="header-icons">
              <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link pt-3" do %>
                <i class="fas fa-sign-out-alt fa-2x icon"></i>
              <% end %>
            </li>
            <li class="header-text text-center">
              ログアウト
            </li>
            <li class="header-icons">
              <%= link_to customer_path(current_customer), class: "ml-2 " do %>
                <%= image_tag current_customer.get_profile_image, class: "rounded-circle", size:'60x60' %>
              <% end %>
            </li>
            <li class="text-center header-text">
              マイページへ
            </li>
          </ul>
        </div>
        <% else %><%#ログインしていない場合%>
        <div class="d-flex flex-column ml-auto">
          <ul class="navbar-nav">
            <li class="header-icons">
              <%= link_to about_path, class: "nav-link pl-2" do %>
                <%= image_tag 'film.png', size: "35x35" %>
              <% end %>
            </li>
            <li class="header-text text-center">
              FILMOREとは
            </li>
            <li class="header-icons">
              <%= link_to posts_path, class: "nav-link pl-2" do %>
                <%= image_tag 'reviews.png', size: "35x35" %>
              <% end %>
            </li>
            <li class="header-text text-center">
              レビュー一覧
            </li>
            <li class="header-icons">
              <%= link_to movies_path, class: "nav-link pl-2" do %>
                <%= image_tag 'movie.png', size: "35x35" %>
              <% end %>
            </li>
            <li class="header-text text-center">
              映画一覧
            </li>
            <li class="header-icons">
              <%= link_to new_customer_registration_path, class: "nav-link pl-2" do %>
                <i class="fas fa-user-plus fa-2x icon"></i>
              <% end %>
            </li>
            <li class="header-text text-center">
              新規登録
            </li>
            <li class="header-icons">
              <%= link_to new_customer_session_path, class: "nav-link pl-2" do %>
                <i class="fas fa-sign-in-alt fa-2x icon"></i>
              <% end %>
            </li>
            <li class="header-text text-center">
              ログイン
            </li>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
  </nav>
</header>